
@foreach (var item in Items)
{
    <div class="row" style="cursor:pointer">
        <div class="col-md-2">
            @if (!string.IsNullOrEmpty(item.Image))
            {
                <img src="@item.Image" class="rounded img-thumbnail" />}
        </div>
        <div class="col-md-8">
            <div class="mb-2"><b>@item.Title</b></div>
            <div class="mb-2 text-muted">@item.Published.ToString("dd MMM")</div>
            <div class="mb-2 text-muted">@item.Description</div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
}

@code {

    [Parameter]
    public List<Feedzor.Shared.FeedItem> Items { get; set; }

}
